* {
    --size: 20em;
    /*Image size*/
}

#root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 2em;
}

.Frame {
    outline: grey 0.5em auto;
}

.Frame h1 {
    display: inline;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

.Frame a:link,
.Frame a:visited {
    color: black;
}

.Frame img {
    display: block;
    background-size: cover;
    width: 38em;
}